body {
    letter-spacing: 3px;
    line-height: 25px;
    background-color: rgb(255, 254, 254);
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0;
}

h1 {
    font-family: "Oswald", serif;
    color: rgb(28, 40, 31);
    background-image: linear-gradient(10deg, #885DF1 15%, #F65282 100%);
    padding-top: 20px;
    padding-bottom: 25px;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 35px;
}

img {
    border-radius: 50px;
    padding: 10px;
    background-image: linear-gradient(0deg, #885DF1 50%, #F65282 100%);
    margin: 25px;
    
}

hr {

    border-bottom: 1.5px solid #525762;

}

pre {
    text-align: center;
    font-weight: 200;
    
}

h2 {
    text-align: center;
    font-family: "Oswald", serif;
    color: rgb(72, 74, 75);
}   

ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

ul li {
    text-align: center;
    margin: 0;
    padding: 0;
}

.a {
    padding: 15px;
}

.b {
    padding: 15px;
}

.c {
    padding: 10px;
}
.list a{
    color:rgb(202, 11, 255);
    text-decoration: none;
}
.list a:hover{
    color: #22ff52;
    
}
.bottom
{
    padding-top:5px;
    padding-bottom: 5px;
    background-image: linear-gradient(90deg, #F65282 15%, #885DF1 100%);
    text-align: center;
}
.bottom span{
    padding-left: 50px;
    padding-right: 50px;
}
.bottom a{
    font-family: "Macondo", serif;
    color:rgb(36, 28, 39);
    letter-spacing: 1px;
    text-decoration: none;
}
.bottom a:hover{
    color: #22ff52;
    
}