body {
    background-color: rgb(255, 254, 254);
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-image: linear-gradient(90deg, #a083eb 50%, #ff2b6b 100%);
}

.navbar .logo {
    font-family: "Jersey 10", serif;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.navbar div {
    letter-spacing: 1px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
}

.navbar a:hover {
    color: #0e11c7;
}

.navbar input {
    width: 40rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

h2 {
    color: red;
    text-align: center;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    height: 250px; /* Fixed height */
    width: 200px; /* Fixed width */
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.product img {
    max-height: 150px; /* Fixed image height */
    max-width: 100%; /* Responsive width */
    object-fit: cover; /* Maintain aspect ratio */
}

.product:hover {
    box-shadow: 0 8px 16px black;
}